@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
*{
    margin:0;
    padding:0;
}
html,
body{
    height: 100%;
    padding: 0;
    scroll-behavior: smooth;
    background: #f7f5f2;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h1{
    line-height: 1.25;
    padding-top: 150px;
    font-weight: 300;
    margin-left: 50px;
    color: #f7f5f2;

}
h2{
    line-height: 1.25;
    padding-top: 45px;
    font-weight: 300;
}

text{
    font-size: 10px;
}
strong{
    font-weight: 600;
}
#graphic {
    width: fit-content;
    height:  100%;
}
#header{
    width: 1500px;
    height: 900px;
    margin-left: -170px;

    background-color: black;
}

#wrap-up{
    width: 100%;
    height: 900px;
    margin-left: -170px;
    background-color: black;
    margin-top: 1000px;
}
.container {
    height: 100%;
    width: 100%;
    margin-left: 120px;
    margin-right: 200px;
    padding: 0;
    position: absolute;
    line-height: 1.5;
}
.container div {
    height: 100%;
    /*display: inline-block;*/
    padding: 0 45px;
}
#timeseries{
    padding-top: 50px;
    margin-right: 700px;
}

.charts{
    padding-top: 70px;
    margin-right: 700px;
}

.textInfo{
    /*margin-left: 150px;*/
    width: 1100px;
    margin-right: 150px;
}
#comparisonMW{
    padding-top: 50px;
    margin-right: 700px;
}

#piecharts{
    padding-top: 50px;
    margin-right: 100px;
    margin-left: -100px;
    width: 1100px;

}

#scatterplot{
    padding-top: 50px;
    /*margin-right: 700px;*/
}
#educationChart{
    padding-top: 50px;
    margin-right: 700px;
}

#gigachart{
    padding-top: 50px;
    margin-right: 700px;
    margin-left: -100px;
}

#div6{
    position: absolute;
    height: 100%;
    width: 70%;

}


/* Cursor */
.typed-cursor {
    color: #f7f5f2;
}


.country {
    width: 100%;
}
#my_dataviz {

}
#my_dataviz2 {
}
#my_dataviz3 {
}
#my_dataviz4 {
}
#my_dataviz5 {
}

.barcharts {
    border:1px solid black;
    border-radius: 10px;

    width: 350px;
    height: 350px;
    display: block; /* These 2 lines will center the svg element on the page. */
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font: 12px sans-serif;
    background: white;
    border:1px outset black;
    border-radius: 15px;
    pointer-events: none;
    white-space: pre;
}

.infobox{
    /*text-align: center;*/
    width: 300px;
    height: fit-content;
    padding: 5px;
    font: 12px sans-serif;
    background: whitesmoke;
    opacity: 0.8;
    border:1px outset black;
    border-radius: 15px;
}

.d3-tip {
    position: absolute;
    display: inline-block;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #000000;
    padding: 14px;
    text-align: center;
  }


  .myContainer {
    margin:auto;
    width:1200px;
}
/* svg {
    border-radius:5px;
    width:300px;
    height:300px;
    margin:auto;
    display:block;
} */